<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="This is the about page of Finease. It includes of introduction to Finease Banking history and mission." />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/fineaselogo.png" type="">

  <title> About </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">

  <div class="hero_area">

    <div class="hero_bg_box">
      <div class="bg_img_box">
        <img src="images/hero-bg.png" alt="Image of Finease Logo">
      </div>
    </div>

    <!-- header section strats -->
    <div id="main-header-container"></div>
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          About <span>Us</span>
        </h2>
        <p>
          We prioritize accessibility in digital banking. Our mission is to provide 
            inclusive financial solutions tailored to the needs of visually impaired individuals.
        </p>
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="images/about-img.png" alt="image of finease logo">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h3>
              We Are Finease
            </h3>
            <p>
              Finease is established in 2024 with a vision to revolutionize banking accessibility for visually impaired individuals. 
              Our journey began with a commitment to bridging the gap between technology and inclusivity, ensuring that everyone 
              can manage their finances with ease and confidence. Since our inception, we have tirelessly worked towards creating 
              innovative solutions that empower users to navigate the financial landscape effortlessly. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <div id="accessibility-widget"></div>
  <script src="/js/script.js"></script>
  <script src="/js/page.js"></script>
  
</body>

</html>