<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content />
    <meta name="description"
        content="This is dashboard page. It shows the user bank account and balance. Actions such as deposit, withdraw and transfer funds can be taken here." />
    <meta name="author" content />
    <link rel="shortcut icon" href="images/fineaselogo.png" type>

    <title> Dashboard </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />

    <style>
        .hide {
            display: none;
        }
    </style>
</head>

<body class="sub_page">

    <div class="hero_area">

        <div class="hero_bg_box">
            <div class="bg_img_box">
                <img src="images/hero-bg.png" alt>
            </div>
        </div>

        <!-- header section strats -->
        <div id="user-header-container"></div>
        <!-- end header section -->
    </div>

    <!-- Dashboard section -->
    <section class="dashboard_section layout_padding">
        <div class="container">
            <h1 class="mt-5 mb-4 text-center">Dashboard</h1>
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Current Account</h5>
                            <div class="account-details">
                                <p>Account Number: <span id="currentAccountNumber"
                                        th:text="${currentAccountNumber}"></span></p>
                                <p>Balance: RM <span id="currentBalance" class="balance hide"
                                        th:text="${currentBalance}"></span></p>
                            </div>
                            <h5 class="card-title">Savings Account</h5>
                            <div class="account-details">
                                <p>Account Number: <span id="savingsAccountNumber"
                                        th:text="${savingsAccountNumber}"></span></p>
                                <p>Balance: RM <span id="savingsBalance" class="balance hide"
                                        th:text="${savingsBalance}"></span></p>
                            </div>
                            <div class="text-center mt-4">
                                <button id="toggleBalanceBtn" class="btn btn-secondary">Show Balance</button>
                            </div>

                            <div class="action-buttons text-center">
                                <button onclick="window.location.href='deposit'"
                                    class="btn btn-primary btn-lg w-50 mb-2" id="depositbtn">Deposit</button>
                                <button onclick="window.location.href='withdraw'"
                                    class="btn btn-primary btn-lg w-50 mb-2" id="withdrawbtn">Withdraw</button>
                                <button onclick="window.location.href='transfer'" class="btn btn-primary btn-lg w-50"
                                    id="transferbtn">Transfer</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Dashboard section -->

    <div id="accessibility-widget"></div>
    <script src="/js/script.js"></script>
    <script src="/js/page.js"></script>
    <script>
        document.getElementById('toggleBalanceBtn').addEventListener('click', function () {
            var balances = document.querySelectorAll('.balance');
            balances.forEach(function (balance) {
                balance.classList.toggle('hide');
            });

            var buttonText = this.innerText;
            var newText = buttonText === "Show Balance" ? "Hide Balance" : "Show Balance";

            setTimeout(() => {
                this.innerText = newText;
            }, 150);
        });
    </script>

</body>

</html>