<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"
			charset="ISO-8859-1">
		<title>Finease</title>
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<div class="container">
			<h1>Finease</h1>
			<form>
				<input type="user id" placeholder="User ID">
				<input type="password" placeholder="Password">
				<button type="submit">Log in</button>
				<p>Don't have an account? <a href="register">Sign up</a></p>
			</form>
		</div>
	</body>
</html>
